/**
* General page styles - start with non-css3
* and progressively enhance from small-screen to large-screen
*/
body{
    font-size: 90%;
    font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
    color: #333;
    background-color: #e6e7e6;
}
form, fieldset{
    border: 0 none;
    padding: 0;
    margin: 0;
}
@media (min-width: 480px){
    body{
        background: #e6e7e6 url("img/page-bg.jpg") repeat top left;
    }
}

/* Page */
#page{
    width: 90%;
    margin: .6em auto;
    padding: 3%;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 3px 2px;
    box-shadow: 2px 2px 3px 2px;
    -webkit-border-radius: .3em;
    border-radius: .3em;
    max-width: 980px;
}
@media (min-width: 480px){
    #page{
        width: 80%;
        margin: 1em auto;
    }
}

/* Login form */
#loginform{
    width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: .6em;
}
#loginform label{
    float: left;
    width: 80px;
    text-align: right;
    margin-right: 8px;
    font-weight: bold;
}
#loginform input{
    float: left;
    width: 200px;
}
#loginform .validationerror{
    clear: both;
    color: #c30000;
    font-weight: bold;
    font-size: .9em;
    text-align: center;
    display: block;
}
#loginform fieldset{
    margin-bottom: 1em;
}
#loginform fieldset.actionbar{
    text-align: right;
}
#loginform fieldset.actionbar button{
    width: auto;
    overflow: visible;
    padding: .3em .6em;
    font-size: .9em;
    font-weight: bold;
}
@media (min-width: 50px){ /* Everything that supports media queries (and likely css3) */
    #loginform{
        width: auto;
        border: 0 none;
        max-width: 400px;
    }
    #loginform label{
        float: none;
        display: inline-block;
        width: 100%;
        text-align: left;
    }
    #loginform input{
        float: none;
        display: inline-block;
        width: 90%;
        margin-left: 3%;
        padding: .4em;
        border: 1px solid #e0e0e0;
        -webkit-border-radius: .3em;
        border-radius: .3em;
    }
    #loginform fieldset.actionbar{
        text-align: center;
    }
    #loginform fieldset.actionbar button{
        border: 1px solid rgba(227,234,237,1);
        width: 95%;
        -webkit-border-radius: .3em;
        border-radius: .3em;
        padding: .6em;
        cursor: pointer;
        background: rgb(242,245,246);
        background: -moz-linear-gradient(top,  rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,245,246,1)), color-stop(37%,rgba(227,234,237,1)), color-stop(100%,rgba(200,215,220,1)));
        background: -webkit-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%);
        background: -o-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%);
        background: -ms-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%);
        background: linear-gradient(to bottom,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 );
        -webkit-transition: all 400ms ease;
        -moz-transition: all 400ms ease;
        -ms-transition: all 400ms ease;
        -o-transition: all 400ms ease;
        transition: all 400ms ease;
        color: #666;
    }
        #loginform fieldset.actionbar button:hover{
            color: #333;
            background: rgb(200,215,220);
            background: -moz-linear-gradient(top,  rgba(200,215,220,1) 0%, rgba(227,234,237,1) 0%, rgba(242,245,246,1) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(200,215,220,1)), color-stop(0%,rgba(227,234,237,1)), color-stop(100%,rgba(242,245,246,1)));
            background: -webkit-linear-gradient(top,  rgba(200,215,220,1) 0%,rgba(227,234,237,1) 0%,rgba(242,245,246,1) 100%);
            background: -o-linear-gradient(top,  rgba(200,215,220,1) 0%,rgba(227,234,237,1) 0%,rgba(242,245,246,1) 100%);
            background: -ms-linear-gradient(top,  rgba(200,215,220,1) 0%,rgba(227,234,237,1) 0%,rgba(242,245,246,1) 100%);
            background: linear-gradient(to bottom,  rgba(200,215,220,1) 0%,rgba(227,234,237,1) 0%,rgba(242,245,246,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8d7dc', endColorstr='#f2f5f6',GradientType=0 );
        }
}
@media (min-width: 480px){
    #loginform{
        border: 1px solid #ccc;
        -webkit-border-radius: .4em;
        border-radius: .4em;
        -webkit-box-shadow: 1px 1px 1px 1px #e0e0e0;
        box-shadow: 1px 1px 1px 1px #e0e0e0;
    }
    #loginform fieldset{
        margin-bottom: 1em;
    }
    #loginform fieldset:last-of-type{
        margin-bottom: 0;
    }
    #loginform label{
        width: 27%;
        text-align: right;
    }
    #loginform input{
        width: 60%;
        margin-left: 0;
    }
    #loginform fieldset.actionbar{
        text-align: right;
    }
    #loginform fieldset.actionbar button{
        width: auto;
        padding: .6em 1em;
    }
    #loginform .validationerror{
        text-align: right;
        width: 93%;
    }
}

/* Utilities */
.hidden{
    display: none !important;
}